@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Poppins', sans-serif*/
}

.wrapper {
    max-width: 350px;
    min-height: 500px;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #4E4E50;
    border-radius: 15px;
    border-color: #B12025;
    border-width: 20px;
    /*box-shadow: 13px 13px 20px #B12025, -13px -13px 20px #292929;*/
}

.logo {
    width: 80px;
    margin: auto
}

.logo img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    /*box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7, -8px -8px 15px #fff*/
}

.wrapper .name {
    font-weight: 500;
    font-size: 1.1rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #dddddd;
    text-align: center;

}

.wrapper .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px
}

.wrapper .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    border-color: #B12025;
    /*box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px;*/
}

.wrapper .form-field .fas {
    color: #555;
    justify-content: right;
}

input[type="text"]:-ms-input-placeholder {
    text-align: right;
}
input[type="text"]::-webkit-input-placeholder {
    text-align: right;
}
input::-moz-placeholder {
    text-align: right;
}

.wrapper .btn {
    /*box-shadow: none;*/
    width: 100%;
    height: 40px;
    background-color: #B12025;
    color: #fff;
    border-radius: 25px;
    /*box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #B12025;*/
    letter-spacing: 1.3px
}

.wrapper .btn:hover {
    background-color: #666666;
}

.wrapper a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #03A9F4
}

.wrapper a:hover {
    color: #039BE5
}

@media(max-width: 380px) {
    .wrapper {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px
    }
}